* {
  padding: 0;
  margin: 0;
}

.feature-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 10vw 25vw;
  background-color: black;
}

.featured-title {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  color: white;
  font-size: 7.5vw;
  font-weight: Bold;
  width: 80%;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

.movie-one {
  grid-row: 2;
  grid-column: 1;
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
  height: 90%;
  background-color: white;
}

.movie-two {
  grid-row: 2;
  grid-column: 2;
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
  height: 90%;
  background-color: white;
}

.movie-three {
  grid-row: 2;
  grid-column: 3;
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
  height: 90%;
  background-color: white;
}
